@import 'variables';

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "HelveticaNeue-light","helvetica neue", helvetica, arial, sans-serif;
}

a {
  text-decoration: none;
  color: $primary-font;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.banner {
  max-width: 100%;
  display: block;
}

.slideshow {
  display: block;
}

.navigation {
text-align: center;
background: $secondary-background;
}

.choices {
  display: inline-block;
  padding: 10px 30px;
}

.owl-carousel {
  padding-top: 10px;
}
