@import 'variables';

@media only screen and (max-width: 500px){

  .choices{
    display: block;
  }

  .show {
    padding-top: 10px;
  }

  .menu-show {
    text-align: center;
    display: block;
    border: 2px solid black;
  }

  .sprocket {
    display: block;
    padding: 2px 2px;
    font-size: 2em;
  }

  .choices {
    display: none;
  }

  .navigation {
    .sprocket {
      text-align: left;
    }
  }
}
