<h1>Purple Mint Catering</h1>
<p>We are a team of passionate, committed, and creative individuals who are constantly on the lookout for new trends and ideas.
This enables us to offer you flexibility to make your event even more meaningful and unlike any other.</p>

<p>Purple Mint Catering offers fresh quality dishes prepared with a contemporary flair. We strive to deliver exceptional service to our clients.
  For every function we cater, we aim to create a simple yet elegant atmosphere using timeless concepts.</p> 
