<p id="notice"><%= notice %></p>

<h1>Buffet Packages</h1>
<h2>Basic</h2>
<div class="menu">
  <h3>SET A</h3>
  <strong>HOT ENTREÉS</strong>
  <p>Pork Humba</p>
  <p>Tuna and Vegetable Spring Rolls</p>
  <p>Young Corn in Oyster Sauce</p>
  <p>Steamed Pandan Rice</p>
  <strong>PASTA</strong>
  <p>Vigan Longganisa Pasta</p>
  <strong>DESSERTS</strong>
  <p>Leche Flan</p>
  <strong>BEVERAGE</strong>
  <p>Lemongrass Cooler</p>
</div>
