<% if can? :read, @users %>
  <h1>New User</h1>
  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path %>
<% else %>
  <p>Sorry, you don't have authorization to add a user</p>
<% end %>
