@import 'variables';

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "HelveticaNeue-light","helvetica neue", helvetica, arial, sans-serif;
}

html {
  max-width: 1220px;
}
a {
  text-decoration: none;
  color: $primary-font;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

body {
  margin-bottom: 20px;
  max-width: 1024px;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  padding-top: 20px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.1em;
}

h1, h2, h3 {
  color: $primary-font;
}

.all-menus {
  display: block;
  text-align: center;
}

.banner {
  max-width: 100%;
  display: block;
}

.slideshow {
  display: block;
}

.navigation {
text-align: center;
background: $secondary-background;
}

.choices {
  display: inline-block;
  padding: 10px 5%;
}

.show-image {
  width: 75%;
  display: block;
}

.about {
  border: 2px solid black;
  margin: 20px 10px 10px;
  border-radius: 10px;
  padding: 5px;
  background: linear-gradient($secondary-background, #fff);
  box-shadow: $drop-shadow;

  p {
    padding: 10px;
  }
}

.contact {
  text-align: center;
  width: 50%;
  .field{
    padding: 10px;
    font-weight: bold;
  }
}

.form-control {
  width: 60%;
  line-height: 1.5;
}

.menu-show, .event-index, .contact {
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  background: linear-gradient($secondary-background, #fff);
  box-shadow: $drop-shadow;
}

.contact {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.owl-carousel {
  padding-top: 10px;
}

.menu-show-page {
  .menu-show {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    margin: auto;
  }
}

#message {
  height: 7em;
}
