<div class="owl-carousel">
  <% @recent_events.each do |event| %>
    <div class="slides">
      <%= link_to image_tag(event.image, class: 'slideshow', size: '200x200'), event_path(event.id)  %>
    </div>
  <% end %>
</div>
